extends layout

block content
  h1 #{title}
  p Welcome to #{title}
  div.form-group
      input.form-control(placeholder='Enter a URL', name='inputURL', type='url', required=true value='')
      button(onclick='submitUrl()' type="submit").btn.btn-primary Submit